*,*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #f6f3ff;
}
h1 {
  font-size: 3.8rem;
}
:root {
  --bg-color: ''
}

/* accordion */
.accordion{
  /* padding: 0 4rem; */
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

}
.accordion-item {
  padding: 1.2rem;
  background-color: #fff;
  width: 80%;
  border-radius: 1rem;
}
.accordion-item__content {
  transition: 0.3s linear all;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.accordion-item.accordion__expanded .accordion-item__content{
  padding: 1rem;
  opacity: 1;
  max-height: 100vh;
  /* overflow: auto; */
}